<div class="alert alert-info" role="alert">
	This query took <b>{{time|floatformat}} seconds</b> to execute.
</div>


<div class="well">
	These results were calculated over simulated data, to allow for experiments with different numbers of rows and columns. To get these results, we trained a model over this sample data, and then identified the rows (time points) where our model predicted a different price than was currently listed. We mapped these simulated rows to real events for demonstration.
</div>


<div class="row">
	<div class="col-xs-6">
		<h2 style="text-align: center">Buy Recommendations</h2>

		{%for event in buy_events%}
			<div class="panel panel-success">
			  <div class="panel-heading">
			    <h3 class="panel-title">{{event.metadata.act_primary}}</h3>
			  </div>
			  <div class="panel-body">
			  	<p><b>{{event.metadata.time}}</b></p>
			  	<p>Predicted price increase between now and event: <b>${{event.change|floatformat:2}}</b></p>	
			    <p>Event {{event.row_index}}</p>			    
			    <p>Venue: {{event.metadata.venue_name}}</p>
			    <p>Location: {{event.metadata.eventLocation_facet_str}}, {{event.metadata.zip}}</p>
			  </div>
			</div>
		{%endfor%}
	</div>
	<div class="col-xs-6">
		<h2 style="text-align: center">Sell Recommendations</h2>

		{%for event in sell_events%}
			<div class="panel panel-danger">
			  <div class="panel-heading">
			    <h3 class="panel-title">{{event.metadata.act_primary}}</h3>
			  </div>
			  <div class="panel-body">
			  	<p><b>{{event.metadata.time}}</b></p>
			  	<p>Predicted price decrease between now and event: <b>${{event.change|floatformat:2}}</b></p>	
			    <p>Event {{event.row_index}}</p>			    
			    <p>Venue: {{event.metadata.venue_name}}</p>
			    <p>Location: {{event.metadata.eventLocation_facet_str}}, {{event.metadata.zip}}</p>
			  </div>
			</div>
		{%endfor%}
	</div>
</div>